$xs: 35rem;
$sm: 40rem;
$md: 48rem;
$lg: 64rem;
$xl: 80rem;
$xxl: 96rem;

$Green400: hsl(172, 67%, 45%);

$Green900: hsl(183, 100%, 15%);
$Grey500: hsl(186, 14%, 43%);
$Grey400: hsl(184, 14%, 56%);
$Grey200: hsl(185, 41%, 84%);
$Grey50: hsl(189, 47%, 97%);
$White: hsl(0, 100%, 100%);
