@use "./reset";
@use "./variables" as v;

@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

body {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-style: normal;
  background-color: v.$Grey200;
  width: 100vw;
  min-height: 100dvh;
  font-size: 1.5rem;
  display: grid;
  gap: 1rem;
  grid-template-rows: 1fr auto;
  padding-top: 1rem;

  @media (min-width: v.$md) {
    padding: 1vw;
    grid-template-rows: auto auto;
  }
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: v.$md) {
    flex-direction: row;
    align-self: center;
  }
}

main {
  width: 100%;
  max-width: 920px;
  height: auto;
  background-color: v.$White;
  border-radius: 2rem 2rem 0 0;
  padding: 2rem;
  align-self: end;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 2rem;

  @media (min-width: v.$md) {
    flex-direction: row;
    justify-content: flex-start;
    justify-self: center;
    align-self: start;
    border-radius: 2rem;
  }
  #form {
    flex: 1 1 60%;
    @media (min-width: v.$md) {
      flex: 1 1 50%;
      height: 100%;
    }
    label {
      color: v.$Grey500;
      font-size: 1rem;
      margin-top: 1rem;
      &:nth-child(1) {
        margin-top: 0;
      }
    }
    input#bill {
      background-image: url("../../images/icon-dollar.svg");
    }
    input#people {
      background-image: url("../../images/icon-person.svg");
    }

    .buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(3, fr);
      gap: 1rem;
      width: 100%;
      @media (min-width: v.$sm) {
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, fr);
      }
      button {
        background-color: v.$Green900;
        color: v.$White;
        transition: all 0.3s ease-in-out;
        &:hover {
          background-color: v.$Green400;
          color: v.$Green900;
        }
      }
      input {
        width: 100%;
        text-align: center;
      }
    }
  }
  #result {
    flex: 1 1 40%;
    background-color: v.$Green900;
    border-radius: 1rem;
    padding: 2rem;
    display: grid;
    grid-template-rows: repeat(2, auto) 1fr;
    gap: 1rem;
    @media (min-width: v.$md) {
      flex: 1 1 50%;
    }
    div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      h3 {
        color: v.$Green400;
        font-size: 2.5rem;
      }

      h6 {
        color: v.$White;
        span {
          display: block;
          color: v.$Grey500;
          font-size: 0.8rem;
        }
      }
    }
    button {
      width: 100%;
      color: v.$Green900;
      background-color: v.$Grey500;
      align-self: end;
      transition: all 0.3s ease-in-out;
      margin-top: 1rem;
      &:not(:disabled):hover {
        background-color: v.$Green400;
        color: v.$Green900;
      }
      &:disabled:hover {
        background-color: none;
        color: v.$Green900;
        cursor: auto;
      }
    }
  }
}
